<%- include('./partials/head') %>
<%- include('./partials/header') %>

    <main>
      
      <section class="up">
        <div class="img-cont">
          <img src="http://kingofeights.com/wp-content/plugins/slider/images/icon-img.png"/>
        </div>
        <div class="txt-cont">
          <h2 class="title">
            <%- name %>
          </h2>
          <p class="desc">
            <%- description %> 
          </p>
          <p class="price">
            <%- price %>
          </p>
          <button class="add">Add to cart</button>
          </div>
      </section>

    </main>

<%- include('./partials/footer') %> 