<%- include('./partials/head') %> <%- include('./partials/header') %>
<main>
  <% for( let i = 0; i < data.length; i++ ) { %>
    <section>
      <a href="detail-product/<%= data[i].id.toString() %>">
        <img
          src="<%= data[i].image %>"
        />
        <h2 class="title"><%= data[i].name %></h2>
        <p class="price">USD $<%= data[i].price.toString() %></p>
      </a>
    </section>
  <% } %>
</main>
<%- include('./partials/footer') %>
